<div>
    <h1>LISTA DE PRODUCTOS</h1>
</div>

{{#each productos}}
    <ul>
        <li>
            <div>
                <p>{{this.title}}</p>
                <p>{{this.description}}</p>
                <p>${{this.price}}</p>
            </div>
        </li>    
    </ul>
{{/each}}

